div {
    height: 15vh;
}

.a {
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
}
#blue1 {
    width: 75px;
    height: 75px;
    margin: auto auto auto 20px;
    background-color: royalblue;
}
.b {
    margin: 50px 30px 30px 50px;
    font-family: sans-serif;
    background-color: white;
    box-sizing: border-box;
}
#blue {
    background-color: royalblue;
}
#seaGreen {
    background-color: lightseagreen;
}
#pukeGreen {
    background-color: lightgreen;
}
#yellow {
    background-color: yellow;
}
